body {
    color: rgba(254, 147, 0);
    background-color: rgba(255, 236, 192, 0.6);
    margin: 0;
}

header {
    background-color: rgba(255, 236, 192, 1);
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    box-shadow: 0 4px 8px -8px black;
}

.hdr-img-container {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    /* background-color: blue; */
    margin: 0 8px 0 auto;
    height: 100%;
}

#nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    margin: 0 8px;
    border: none;
    padding: 8px;
    display: inline-block;
    background-color: inherit;
    color: rgba(254, 147, 0);
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}


main {
    position: relative;
    top: 56px; 
}

h2 {
    text-align: center;
}

#products {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-card {
    background-color: hsla(35, 100%, 55%, 0.5);
    color: hsl(0, 100%, 100%);
    margin: 8px auto;
    width: 80%;
    height: 160px;
    display: flex;
    padding: 8px;
    /* background-color: lawngreen; */
    align-items: center;
    box-shadow: .5px .5px .5px .5px lightgray;
}

.prdct-img-container {
    width: 120px;
    height: 120px;
    /* background-color: lightcoral; */
}

.prdct-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.prdct-description {
    margin-left: auto;
    width: 75%;
    /* background-color: honeydew; */
    padding: 8px;
}



#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin: 8px 0;
    width: 64%;
    padding: 8px;
}

#submit {
    padding: 4px;
    background-color: #fe9300;
    color: rgba(255, 236, 192, 1);
    border: none;
}

#submit:hover {
    cursor: pointer;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vid-container {
    width: 80%;
    height: 320px;
    margin: 0 auto;
}

#video {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

#prices {
    /* background-color: aqua; */
    margin-bottom: 64px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.price-card {
    /* background-color: brown; */
    background-color: hsla(35, 100%, 55%, 0.5);
    color: hsl(0, 100%, 100%);
    margin: auto 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.prdct-name, .prdct-price {
    margin: 8px 0;
}

#footer {
    margin: 24px 0 0 0;
    height: 56px;
    background-color: rgba(255, 236, 192, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -4px 8px -8px black;
}

.footer-details {
    margin: 0;
}

@media (max-width: 800px) {
    #nav-bar {
        display: none;
    }
    .product-card {
        justify-content: center;
    }
    .prdct-description {
        display: none;
    }
    #prices {
        display: flex;
        flex-direction: column;
    }
}
